.main {
    background-color:#121212;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1rem;
    overflow: hidden;
}
    .wrapper li {
        display: flex;
        justify-content: center;
    }

.bg-181818 {
    background-color:#181818;
}

@media (max-width:1500px) {
    .wrapper {
        grid-template-columns: repeat(5, minmax(0,1fr));
    }
}

@media (max-width:1300px) {
    .wrapper {
        grid-template-columns: repeat(4, minmax(0,1fr));
    }
}

@media (max-width:1100px) {
    .wrapper {
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
}

@media (max-width:900px) {
    .wrapper {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
}

@media (max-width:760px) {
    .wrapper {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .mob {
        margin: 0;
        padding: 0;
    }
    .mob-round {
        border-radius: 0;
    }
    .text-wrapper-m {
        overflow-wrap: break-word;
        text-wrap: balance;
    }
    .mob-flex{
        flex-direction: column;
    }
    .mob-flex-row {
        flex-direction: row;
    }
}